
@import url('https://fonts.googleapis.com/css?family=Droid+Serif');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body {
	background-color: #FFF4E2;
	font-family: "Avenir", sans-serif;
	text-align: center;
}

.wrapper {
	width: 800px;
	margin: 0 auto;
}

nav {
	margin-bottom: 20px;
}

h1 {
	color: #2860D3;
	font-size:60px;
	padding:20px 0;
	font-family: "Indie Flower", cursive;
}

ul {
	display: inline;
}

li {
	display: inline;
	padding: 0 10px;
}


a {
	text-decoration: none;
	color: #2860D3;
}

a:hover {
	color: black ;
}

.body-copy {
	margin-top: 20px;
}

.image {
	width: 800px;
	margin: 30px 0;
}

#text-one {
	display: inline;
	float: left;
	width: 300px;
	text-align: left;
	margin-left: 75px;
	margin-top: 50px;
}

.content {
	font-size: 20px;
	line-height:1em;
	color: #363636;
	display: inline;
}

#image-one {
	text-align: right;
	margin-right: 65px;
}

footer {
	font-size: 12px;
	margin: 50px 0 10px 0;
	text-align: center;
}

